<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316956774805-cjd95vs7rtafq4ieb66m0mketde84h92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316956774805-cjd95vs7rtafq4ieb66m0mketde84h92</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>316956774805-3b2cjbn5gfourcd0ggdnugg8q4sg8gaj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAzQ5-T_Xy660KjGl_RJBugFW_YzZ_UhgM</string>
	<key>GCM_SENDER_ID</key>
	<string>316956774805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tekup.adoptme</string>
	<key>PROJECT_ID</key>
	<string>rescuemeapp-d0e4b</string>
	<key>STORAGE_BUCKET</key>
	<string>rescuemeapp-d0e4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316956774805:ios:c08752d186d2d15bbee69c</string>
	<key>DATABASE_URL</key>
	<string>https://rescuemeapp-d0e4b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>